<div class="container">
<%= image_tag 'logo.png' %>
<div class="row">
<% @feeds.each do |feed| %>
	<div class="col-md-8 col-md-offset-3 ">
		<p><%= feed.fecha %></p>
		<h1 class="jumbotron"><%= feed.title %></h1>
		<p><%= feed.all_content.html_safe %></p>
		<%= link_to 'Ver mas', feed, class:"btn btn-primary"  %>
		</div>
<% end %>
	</div>
</div>

