
<div class="container">
	<%= image_tag 'logo.png' %>
	<div class="row">
		<div class="col-md-8 col-md-offset-3 ">
			<p><%= @feed.fecha %></p>
			<h1 class="jumbotron"><%= @feed.title %></h1>
			<p><%= @feed.all_content.html_safe %></p>
			<%= link_to "Me gusta", like_count_feed_path(@feed), method: :post %> | <%= @feed.like %>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-8 col-md-offset-3 ">
			<h2>commentarios</h2>

			<% if @comments.blank? %>

			<p>No hay comentarios!</p>

			<% else %>
				<table class="table table-hover">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Correo</th>
						<th>Comentario</th>
					</tr>
				</thead>
				<tbody>
			<% @comments.each do |comment| %>
					<tr>
					<td><%= comment.name %></td>
					<td><%= comment.email %></td>
					<td><%= comment.comment %></td>
					</tr>
			<% end %>
				</tbody>
				
			</table>

			<% end %>
		</div>
	</div>
	<div class="row">
		<%= render "shared/form", feed: params[:id] %>
	</div>
</div>